
/* BELOW CLASSES ARE FOR INDEX PAGE */

/* The . at the begining selects elements with the header class */
.header
{
    /* Padding will work from each side in the case as no sides are stated, to effect certain sides either use padding-left...etc */
    /* To shorthand it the order is, top, right, bottom, left */
    padding: 10px;
    text-align: center;
    background-image: url("../images/Beachballs.jpg");
    background-color: #333;
    height: 200px;    
    background-position: center;
    background-size: contain;
    position: relative;
}

/* This is also a part of the header class but what is in here will only effect h1 parts in header */
.header h1 
{
    font-size: 50px;
}

.header p
{
    font-size: 20px;
}

/* SEPERATE HEADER FROM BUTTONS */

.seperator
{
    text-align: center;
}

/* HOME PAGE */

.loginButtons 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loginButtons button:hover
{
    background-color: brown;
}

.loginButtons button
{
    background-color: green;
    border: 1px solid blue;
    color: white;
    padding: 0.75% 10%;
    cursor: pointer;
    font-size: 85%;
    flex: 1;
    margin: 0 10%;
    min-width: 50px;
}

.loginButtons button.left
{
    margin-right: 1%;
}

.loginButtons button.right
{
    margin-left: 1%;
}

.playNowButtons
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playNowButtons button:hover
{
    background-color: brown;
}

.playNowButtons button
{
    background-color: green;
    border: 1px solid blue;
    color: white;
    padding: 0.75% 10%;
    cursor: pointer;
    font-size: 85%;
    flex: 1;
    margin: 0 10%;
    min-width: 50px;
}

/* BELOW CLASSES ARE FOR LOGIN PAGE */

.loginContainer
{
    box-sizing: border-box;
    border-radius: 10%;
    background-color: #333;
    padding: 30px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loginInputs
{
    text-align: center;
    position: relative;
    color: white;
}

.loginInputs input
{
    width: 100%;
    border: 2px solid red;
    border-radius: 4px;
    padding: 2px;
    box-sizing: border-box;
}

/* FIRST JS THREE */

.overlayText
{
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: white;
}

/* BELOW ARE CLASSES FOR GAME PAGE */

.gameSplash
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: 200;
    color: white;
    text-align: center;
    line-height: 90vh;
}

.gameSplash.displayNone
{
    position: fixed;
    opacity: 0;;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: -10;
    color: white;
    text-align: center;
    line-height: 90vh;
    transition: all 0.5s;
}

@keyframes fadeInAni
{
    to
    {
        opacity: 1;
    }
}

.fadeIn
{
    opacity: 0;
    animation: fadeInAni 1s ease-in forwards;
}