
/* BELOW CLASSES ARE FOR INDEX PAGE */

/* The . at the begining selects elements with the header class */
.header
{
    /* Padding will work from each side in the case as no sides are stated, to effect certain sides either use padding-left...etc */
    /* To shorthand it the order is, top, right, bottom, left */
    padding: 10px;
    text-align: center;
    background-image: url("../images/MoleBanner.png");
    background-color: #333;
    height: 200px;    
    background-position: center;
    background-size: contain;
    position: relative;
}

/* This is also a part of the header class but what is in here will only effect h1 parts in header */
.header h1 
{
    font-size: 50px;
}

.header p
{
    font-size: 20px;
}

/* SEPERATE HEADER FROM BUTTONS */

.seperator
{
    text-align: center;
}

/* LOGIN BUTTONS */

.loginButtons 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loginButtons button:hover
{
    background-color: brown;
}

.loginButtons button
{
    background-color: green;
    border: 1px solid blue;
    color: white;
    padding: 0.75% 10%;
    cursor: pointer;
    font-size: 85%;
    flex: 1;
    margin: 0 10%;
    min-width: 50px;
}

.loginButtons button.left
{
    margin-right: 1%;
}

.loginButtons button.right
{
    margin-left: 1%;
}

/* BELOW CLASSES ARE FOR LOGIN PAGE */

.loginContainer
{
    box-sizing: content-box;
    border-radius: 10%;
    background-color: #333;
    padding: 3%;
    width: 15%;
    position: relative;
}

.loginInputs
{
    text-align: center;
    position: relative;
    color: white;
}

.loginInputs input
{
    width: 100%;
    border: 2px solid red;
    border-radius: 4px;
}

.overlaytext
{
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: white;
}