/*                          */
/* OVERALL WEBSITE CSS CODE */
/*                          */

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*                                  */
/* BELOW CLASSES ARE FOR INDEX PAGE */
/*                                  */

/* The . at the begining selects elements with the header class */
.header
{
  /* Padding will work from each side in the case as no sides are stated, to effect certain sides either use padding-left...etc */
  /* To shorthand it the order is, top, right, bottom, left */
  padding: 10px;
  text-align: center;
  background-image: url("../images/Beachballs.jpg");
  background-color: #333;
  height: 200px;    
  background-position: center;
  background-size: contain;
  position: relative;
}

/* This is also a part of the header class but what is in here will only effect h1 parts in header */
.header h1 
{
  font-size: 50px;
}

.header p
{
  font-size: 20px;
}

/*                */
/* NAVIGATION BAR */
/*                */

.navBar ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 75px;
  overflow: hidden;
  background-color: #333;

  display: flex;
  align-items: center;
}

.navBar li
{
  float: none;
}

.navBar li.login 
{
  margin-left: auto;
}

.navBar li a 
{
  display: block;
  color: white;
  text-align: center;
  padding: 75px 50px;
  text-decoration: none;
}

.navBar a:hover:not(.active)
{
  background-color: #111;
}

.active 
{
  background-color: #04AA6D;
}

/*                           */
/* LOGIN & REGISTRATION PAGE */
/*                           */

section 
{
  position: absolute;
  width: 100vw;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
  overflow: hidden;
}

section .signIn
{
  position: absolute;
  width: 400px;
  background: #222;  
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0,0,0,9);
}

section .signIn .content 
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

section .signIn .content h2 
{
  font-size: 2em;
  color: #0f0;
  text-transform: uppercase;
}

section .signIn .content .form 
{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

section .signIn .content .form .inputBox
{
  position: relative;
  width: 100%;
}

section .signIn .content .form .inputBox input 
{
  position: relative;
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}

section .signIn .content .form .inputBox i 
{
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: #aaa;
  transition: 0.5s;
  pointer-events: none;
}

.signIn .content .form .inputBox input:focus ~ i,
.signIn .content .form .inputBox input:valid ~ i
{
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: #fff;
}

.signIn .content .form .links 
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.signIn .content .form .links a 
{
  color: #fff;
  text-decoration: none;
}

.signIn .content .form .links a:nth-child(2)
{
  color: #0f0;
  font-weight: 600;
}

.signIn .content .form .inputBox input[type="submit"]
{
  padding: 10px;
  background: #0f0;
  color: #000;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
}

input[type="submit"]:active
{
  opacity: 0.6;
}

@media (max-width: 900px)
{
  section span 
  {
    width: calc(10vw - 2px);
    height: calc(10vw - 2px);
  }
}

/*                                  */
/* BELOW CLASSES ARE FOR LOGIN PAGE */
/*                                  */

.loginContainer 
{
  box-sizing: border-box;
  border-radius: 10%;
  background-color: #333;
  padding: 30px;
  width: 300px;
  max-width: 90vw;
  margin: 20px auto; /* Adds space around the login box */
}

.loginInputs 
{
  text-align: center;
  color: white;
}

.loginInputs input 
{
  width: 100%;
  border: 2px solid red;
  border-radius: 4px;
  padding: 6px;
  box-sizing: border-box;
}

/*                                 */
/* BELOW ARE CLASSES FOR GAME PAGE */
/*                                 */

.gameSplash
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: black;
  z-index: 200;
  color: white;
  text-align: center;
  line-height: 90vh;
}

.gameSplash.displayNone
{
  position: fixed;
  opacity: 0;;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: black;
  z-index: -10;
  color: white;
  text-align: center;
  line-height: 90vh;
  transition: all 0.5s;
}

@keyframes fadeInAni
{
  to
  {
    opacity: 1;
  }
}

.fadeIn
{
  opacity: 0;
  animation: fadeInAni 1s ease-in forwards;
}

.ballCountOverlay
{
  position: absolute;
  top: 80px;
  left: 90%;
  transform: translateX(-50%);
  font-size: 70px;
  font-weight: bold;
  color: Black;
}

.scoreCountOverlay
{
  position: absolute;
  top: 80px;
  left: 10%;
  transform: translateX(-50%);
  font-size: 70px;
  font-weight: bold;
  color: Black;
}