/*                          */
/* OVERALL WEBSITE CSS CODE */
/*                          */

@font-face 
{
  font-family: sandcastleFont;
  src: url('../text/SANDCASTLE.ttf') format('truetype'),
       url('../text/SANDCASTLE.otf') format('opentype');
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*                */
/* NAVIGATION BAR */
/*                */

.navBar ul 
{
  list-style-type: none; /* Removes bullet points from the list */
  margin: 0;
  padding: 0;
  height: 170px;
  overflow: hidden;
  background: linear-gradient(to top, #4facfe, #00f2fe); /* Gradient effect to mimic ocean */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds Shadow */
  display: flex; /* Aligns horizontally */
  align-items: top; /* Moves items within the navigation bar to the top */
  z-index: +1;

  /* BELOW CODE TAKEN FROM https://css-generators.com/wavy-shapes/ */
  --mask:
    radial-gradient(100.62px at 50% calc(100% - 135px),#000 99%,#0000 101%) calc(50% - 90px) 0/180px 100%,
    radial-gradient(100.62px at 50% calc(100% + 90px),#0000 99%,#000 101%) 50% calc(100% - 45px)/180px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.navBar li 
{
  float: none;
}

.navBar li.login 
{
  margin-left: auto;
}

.navBar li a 
{
  display: block;
  color: #fff;
  font-family: sandcastleFont;
  font-weight: 1;
  font-size: large;
  text-align: center;
  padding: clamp(1rem, 5vw, 2rem) clamp(1rem, 10vw, 3rem);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.navBar a:hover:not(.active) 
{
  background-color: rgba(255, 255, 255, 0.2);
}

.navBar li a::after 
{
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #00aaff;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.navBar li a:hover::after 
{
  transform: scaleX(1);
}

.active 
{
  background-color: #0288d1;
  font-weight: bold;
}

/*                                  */
/* BELOW CLASSES ARE FOR INDEX PAGE */
/*                                  */

/* The . at the begining selects elements with the header class */
.header
{
  /* Padding will work from each side in the case as no sides are stated, to effect certain sides either use padding-left...etc */
  /* To shorthand it the order is, top, right, bottom, left */
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  font-family: sandcastleFont;
  padding: 0px;
  height: auto;
  width: 100%; /* Full width of the parent container */
  position: relative;
  box-sizing: border-box; /* Ensure padding doesn't affect width/height */
  min-height: 200px; /* Set a minimum height */
}

/* This is also a part of the header class but what is in here will only effect h1 parts in header */
.header h1 
{
  /* rem means "root element" so they scale to header */
  font-size: clamp(4rem, 6vw, 8rem); /* Scales between 4rem and 8rem */
  font-weight: 10;
  color: #947e4e;
  text-align: center;
  margin: 0; /* Remove any default margins */
}

.header p
{
  font-size: clamp(2rem, 3vw, 4rem); /* Scales between 2rem and 4rem */
  font-weight: 1;
  color: #947e4e;
  text-align: center;
  margin: 0; /* Remove any default margins */
}

.header .descOverride h1
{
  font-size: clamp(4rem, 4vw, 8rem); /* Scales between 4rem and 8rem */
  font-weight: 10;
  color: #947e4e;
  text-align: center;
  margin: 0; /* Remove any default margins */
}

.header .descOverride p
{
  font-size: clamp(2rem, 1.5vw, 4rem); /* Scales between 2rem and 4rem */
  font-weight: 1;
  color: #947e4e;
  text-align: center;
  margin: 0; /* Remove any default margins */
}

.imageBox
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 6vw;
  gap: 10px; /* Add space between images */
}

.imageBox img 
{
  width: 100%;
  max-width: 450px; /* Ensure image doesn't exceed 450px */
  height: auto; /* Maintain aspect ratio */
  border: 10px solid #fefae0;
}

.imageBox.imageOverride img 
{
  max-width: 800px !important;
}


/* Wavy border */
.wavyBorder
{
  height: 170px;
  background: linear-gradient(to top, #4facfe, #00f2fe); /* Gradient effect to mimic ocean */

  --mask:
    radial-gradient(43.42px at 50% calc(100% + 24px),#0000 calc(99% - 10px),#000 calc(101% - 10px) 99%,#0000 101%) calc(50% - 60px) calc(50% - 20px + .5px)/120px 40px repeat-x,
    radial-gradient(43.42px at 50% -24px,#0000 calc(99% - 10px),#000 calc(101% - 10px) 99%,#0000 101%) 50% calc(50% + 20px)/120px 40px repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

/*                           */
/* LOGIN & REGISTRATION PAGE */
/*                           */

section 
{
  position: absolute;
  width: 100vw;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
  overflow: hidden;
}

section .signIn
{
  font-family: sandcastleFont;
  position: absolute;
  width: 500px;
  height: 500px;
  background-image: url('../images/SandcastleBox.png');
  background-size: contain; /* Scale image to fit the container */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-position: center; /* Center the image */
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px;
  border-radius: 4px;
}

section .signIn .content 
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

section .signIn .content h2 
{
  font-weight: lighter;
  font-size: 40px;
  color: #947e4e;
  text-transform: uppercase;
}

section .signIn .content .form 
{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

section .signIn .content .form .inputBox
{
  position: relative;
  width: 100%;
}

section .signIn .content .form .inputBox input 
{
  position: relative;
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}

section .signIn .content .form .inputBox i 
{
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: #aaa;
  transition: 0.5s;
  pointer-events: none;
}

.signIn .content .form .inputBox input:focus ~ i,
.signIn .content .form .inputBox input:valid ~ i
{
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: #fff;
}

.signIn .content .form .links 
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.signIn .content .form .links a 
{
  color: #fff;
  text-decoration: none;
}

.signIn .content .form .links a:nth-child(2)
{
  color: #00c7eb;
  font-weight: 600;
}

.signIn .content .form .inputBox input[type="submit"]
{
  font-family: sandcastleFont;
  padding: 10px;
  background: #00c7eb;
  color: #000;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
}

.signIn .content .form .inputBox a {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 10px;
  background: #947e4e;
  color: #000;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  border-radius: 4px;
  text-decoration: none;
  transition: background 0.3s;
}

.signIn .content .form .inputBox a:active {
  opacity: 0.6;
}

input[type="submit"]:active
{
  opacity: 0.6;
}

@media (max-width: 900px)
{
  section span 
  {
    width: calc(10vw - 2px);
    height: calc(10vw - 2px);
  }
}

/*                                 */
/* BELOW ARE CLASSES FOR GAME PAGE */
/*                                 */

.gameSplash
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: black;
  z-index: 200;
  color: white;
  font-size: clamp(1rem, 8vw, 2rem);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameSplash.displayNone
{
  position: fixed;
  opacity: 0;;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: black;
  z-index: -10;
  color: white;
  font-size: clamp(1rem, 8vw, 2rem);
  text-align: center;
  transition: all 0.5s;
}

@keyframes fadeInAni
{
  to
  {
    opacity: 1;
  }
}

.fadeIn
{
  opacity: 0;
  animation: fadeInAni 1s ease-in forwards;
}

#gameContainer
{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}

.ballCountOverlay
{
  font-family: sandcastleFont;
  font-weight: lighter;
  position: absolute;
  top: 130px;
  left: 90%;
  transform: translateX(-50%);
  font-size: clamp(1rem, 10vw, 4rem);
  color:#bba065;
}

.scoreCountOverlay
{
  font-family: sandcastleFont;
  font-weight: lighter;
  position: absolute;
  top: 130px;
  left: 10%;
  transform: translateX(-50%);
  font-size: clamp(1rem, 10vw, 4rem);
  color:#bba065;
}

.countdownOverlay
{
  font-family: sandcastleFont;
  font-weight: lighter;
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  font-size: clamp(1rem, 10vw, 4rem);
  color:#bba065;
}

.hidden 
{
  display: none !important; /* Using !important to override any css applied */
}

.gameEnd
{
  height: 700px !important;
}

.gameSizing
{
  width: 650px !important;
  height: 750px !important;
}

/*          */
/* 404 PAGE */
/*          */

.noPage 
{
  font-family: sandcastleFont;
  font-weight: 1;
  font-size: larger;
  color: #947e4e;

  width: 500px;
  height: 700px;
  background-image: url('../images/SandcastleBox.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  
  display: flex;  /* Add this line */
  flex-direction: column;  /* Stack items vertically */
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 70px;
  border-radius: 4px;
  z-index: 1000;
}